.App {
  background-color: rgb(250, 226, 250);
  border: 1px solid rgb(180, 179, 179);
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 350px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
h1 {
  color: rgb(99, 99, 110);
  text-align: center;
  text-transform: uppercase;
}
